.bottomLeftToRightSlant {
  &::after {
    @apply absolute block w-full;

    content: "";
    bottom: -35px;
    border-top: 70px solid #fff;
    transform: skewY(-2deg);

    @media (min-width: 125rem) {
      transform: skewY(-1deg);
    }
  }
}
